* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: RobotoReg;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: RobotoMed;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: RobotoBold;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

ul {
    display: flex;
    justify-content: space-around;
}
li {
    list-style-type: none;
}

/* header */

header {
    user-select: none;
    width: 100%;
    height: 100%;
    background-color: #dddddd;
    position: sticky;
    top: 0;
}
header>ul>li:first-child {
    margin: 5px;
}
.logo {
    background-color: black;
    height: 100%;
    aspect-ratio: 1 / 1;
}
.header-link {
    margin: 35px 0;
    font-family: RobotoReg;
    font-size: 32px;
    cursor: pointer;
}
.header-btn {
    margin: 35px 0;
    padding: 10px 40px;
    background-color: #FF0E00;
    border: none;
    border-radius: 14px;
    color: #FFF;
    font-family: RobotoBold;
    cursor: pointer;
    font-size: 20px;
}

/* main */

main {
    margin: 30px 5%;
}
.title {
    font-family: RobotoBold;
    font-size: 64px;
}
.title2 {
    font-family: RobotoBold;
    font-size: 48px;
}
.main-block {
    margin: 100px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
}
.main-block:nth-of-type(2n-1) > img {
    grid-column: 3;
}
.main-block:nth-of-type(2n-1) > div {
    grid-column: 1 / 2;
}
.main-block:nth-of-type(2n) > img {
    grid-row: 1 ;
}
.main-block:nth-of-type(2n) > div {
    grid-column: 2 / 3;
}
.main-block-text {
    font-size: 24px;
    font-family: RobotoReg;
}
.main-block-img {
    background-color: black;
    width: 100%;
}
.main-btn {
    padding: 10px 80px;
    font-size: 24px;
    font-family: RobotoBold;
    background-color: white;
    border: 2px black solid;
    border-radius: 14px;
    cursor: pointer;
}

/* Экскурсии */

.excur-block {
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    border: 2px black solid;
    border-radius: 40px;
}
.excur-title {
    font-family: RobotoBold;
    font-size: 64px;
}
.excur-text {
    font-family: RobotoReg;
    font-size: 32px;
    margin: 10px;
}
.excur-btn1 {
    width: max-content;
    margin: 15px 0;
    padding: 10px 40px;
    background-color: #FF0E00;
    border: none;
    border-radius: 14px;
    color: #FFF;
    font-family: RobotoBold;
    cursor: pointer;
    font-size: 20px;
}
.excur-btn2 {
    width: max-content;
    margin: 30px 0;
    padding: 10px 40px;
    font-size: 20px;
    font-family: RobotoBold;
    background-color: white;
    border: 2px black solid;
    border-radius: 14px;
    cursor: pointer;
}
.excur-edit-btns {
    justify-content: flex-end;
    display: flex;
    gap: 50px;
}
.excur-edit-btn1, .excur-edit-btn2 {
    cursor: pointer;
    font-family: RobotoMed;
    font-size: 32px;
    color: black;
}
.excur-edit-btn2 {
    color: #FF0E00;
}

.archieved {
    background-color: #e6e6e6;
}
/* Достопримечательности */

.sights-block {
    padding: 0 90px;
    margin: 50px 5%;
    border: 3px black solid;
    border-radius: 130px;
}
.sights-block>.title {
    text-align: center;
    margin: 30px;
}
.sights-block-input {
    margin: 90px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 90px;
}
.sights-input {
    min-height: 300px;
    border: 2px black solid;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-family: RobotoMed;
    background-size: cover;
    background-position: center;
}
.sights-desc-input {
    padding: 10px;
    min-height: 300px;
    resize: none;
    border: 2px black solid;
    font-size: 24px;
    font-family: RobotoMed;
}
.sights-desc-input::placeholder {
    font-size: 24px;
    font-family: RobotoMed;
}
.sights-desc-input:focus::placeholder {
    opacity: 0;
} 
.submit1 {
    width: max-content;
    margin: 30px 0;
    padding: 10px 40px;
    font-size: 20px;
    font-family: RobotoBold;
    background-color: white;
    border: 2px black solid;
    border-radius: 14px;
    cursor: pointer;
}
.sights-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 130px;
}
.sights-card {
    overflow: hidden;
    border: 3px black solid;
    border-radius: 60px;
    padding-bottom: 40px;
}
.sights-img {
    background-color: gray;
    min-height: 300px;
    border-bottom: 3px black solid;
    background-size: cover;
}
.sights-desc {
    font-family: RobotoMed;
    font-size: 20px;
    margin: 20px;
}
.sights-card-info {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    color: #8d8d8d;
    font-size: 20px;
    font-family: RobotoMed;
}

/* Создание экскурсий */

.excur-create-block {
    margin: 100px 10%;
    display: flex;
    flex-direction: column;
}
.excur-create-field {
    gap: 20px;
    margin-top: 25px;
    display: flex;
    flex-direction: row-reverse;
}
.excur-create-field>input, .excur-create-field>div>input[type="text"] {
    border: none;
    outline: none;
    border-bottom: 3px black solid;
    font-family: RobotoMed;
    font-size: 36px;
    padding: 2px;
}
.excur-create-input {
    font-size: 36px;
    font-family: RobotoBold;
}
.excur-create-field>p {
    font-family: RobotoBold;
    font-size: 36px;
}
.excur-create-field>div>input[type="text"]::placeholder {
    font-size: 24px;
    font-family: RobotoMed;
}
.excur-create-field>div>input[type="text"]:focus::placeholder {
    opacity: 0;
} 
.submit2 {
    width: max-content;
    margin: 30px 0;
    padding: 10px 40px;
    font-size: 20px;
    font-family: RobotoBold;
    color: white;
    border: none;   
    background-color: #FF0E00;
    border-radius: 14px;
    cursor: pointer;
}

/* Запись на экскурсию */

.zapis-info-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 130px;
    margin: 100px 5%;
}
.zapis-info {
    font-size: 48px;
    font-family: RobotoMed;
    margin-top: 25px;
}

/* Вход и регистрация */

.login-block {
    padding: 80px;
    margin: 10%;
    border: 3px black solid;
    border-radius: 137px;
}
.login-block>.title {
    text-align: center;
    margin: 30px;
}
.login-fields {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 50px;
}
.login-fields>input, .register-fields>input {
    margin: 0;
    border: none;
    outline: none;
    border-bottom: 3px black solid;
    font-family: RobotoMed;
    font-size: 36px;
    padding: 2px;
}
.login-text {
    font-family: RobotoBold;
    font-size: 36px;
    text-align: right;
}
.login-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-nav-text {
    font-size: 36px;
    font-family: RobotoBold;
    margin-top: 50px;
}

.register-fields {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 50px;
}

/* Личный кабинет */

.personal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 5%;
    border: 3px black solid;
    border-radius: 120px;
}
.personal-textb {
    font-family: RobotoBold;
    font-size: 32px;
}
.personal-text {
    font-family: RobotoReg;
    font-size: 32px;
}
.personal-data {
    display: flex; 
    gap: 10px;
    margin: 20px 0;
}
.my-zapisi {
    grid-gap: 20px;
    display: grid;
    margin-bottom: 40px;
    grid-template-columns: repeat(3, 1fr);
}
.my-zapis {
    margin: 0 30px;
    overflow: hidden;
    border: 3px black solid;
    border-radius: 20px;
}
.my-zapis-img {
    background-size: cover;
    min-height: 300px;
}
.my-zapis-title {
    margin: 10px;
    font-family: RobotoBold;
    font-size: 28px;
}
.my-zapis-text {
    margin: 5px 10px;
    font-family: RobotoReg;
    font-size: 22px;
}
.my-zapis-btns {
    margin: 10px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
}

/* Найти */

.find {
    display: flex;
    gap: 50px;
}
.search-excur {
    padding: 3px;
    border: 3px black solid;
    border-radius: 5px;
    margin: 30px 0;
}